@using Sameer.Shared.Data;
@model IEnumerable<EmployeeMonthReportViewModel>

@{
    ViewData["Title"] = "تقرير الموظف";
}

<table class="report-container" style="width:100%">
    <thead class="report-header">
        <tr>
            <th class="report-header-cell">
                <div class="header-info">
                    <div id="header-info" class="row justify-content-center align-self-center text-center">
                        <div class="col justify-content-center align-self-center text-center d-none d-print-block">
                            <h5>قسم عمليات الموارد البشرية</h5>
                            @if (Model.Count() < 2)
                            {
                                <h6>تقرير الموظف</h6>
                            }
                            else if (!string.IsNullOrWhiteSpace(ViewBag.DepartmentName))
                            {
                                @*<h6 style="color:red">@(ViewBag.MultiDates ? $"تقرير الادارة - {ViewBag.MonthName}" : "تقرير الادارة")</h6>*@
                                <h6>تقرير الادارة</h6>
                                if (ViewBag.MultiDates)
                                {
                                 <span style="color:red">@ViewBag.MonthName</span>
                                }
                            }
                            else
                            {
                                <h6>تقرير الموظفين</h6>
                            }
                        </div>
                        <div class="col">
                            <div class="d-none d-print-block"><img style="max-width:190px; max-height:130px" src="~/Images/SGSLOGO.png" /></div>
                        </div>
                        <div class="col justify-content-center align-self-center text-center d-none d-print-block">
                            <img style="max-width:70px; max-height:90px" src="~/Images/scan-fingerprint-icon.png" />
                            <h5 class="text-info" style="display:inline">نظام البصمة</h5>
                        </div>
                    </div>
                    @if (Model.Count() < 2)
                    {
                        <div id="employee-info" class="row">
                            <div class="col d-none d-print-block" style="text-align:right">
                                <span>اسم الموظف : </span><span class="text-info">@Model.First().EmployeeId - @Model.First().EmployeeName</span>
                            </div>
                            <div class="col d-none d-print-block" style="text-align:left">
                                <span>الادارة - القسم : </span><span class="text-info">@Model.First().DepartmentName</span>
                            </div>
                        </div>
                    }
                    else if (!string.IsNullOrWhiteSpace(ViewBag.DepartmentName))
                    {
                        <div id="employee-info" class="row">
                            <div class="col d-none d-print-block" style="text-align:right">
                                @if (!ViewBag.MultiDates)
                                {
                                    <span class="text-info">@Model.FirstOrDefault(d => d.DayReportsList.Any())?.DayReportsList.First().DayDate.ConvertToString(showDayName: true, showDayNameInArabic: true) -</span>
                                }
                                <span> @ViewBag.DepartmentName</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="employee-info" class="row">
                            <div class="col d-none d-print-block" style="text-align:right">
                                <span class="text-info">@Model.FirstOrDefault(d => d.DayReportsList.Any())?.DayReportsList.First().DayDate.ConvertToString(showDayName: true, showDayNameInArabic: true)</span>
                            </div>
                        </div>
                    }
                </div>
            </th>
        </tr>
    </thead>
    @if (Model.Count() < 2)
    {
        <tfoot class="report-footer">
            <tr>
                <td class="report-footer-cell">
                    <div class="footer-info">
                        <div class="row" style="border: 2px solid gray; margin-left:0.50px;margin-right:0.50px; height:40px">
                            <div class="col justify-content-center align-self-center text-center text-danger">ايام الاجازة :  @Model.First().VacationsDays</div>
                            <div class="col justify-content-center align-self-center text-center text-danger">ايام الغياب : @Model.First().TotalAbsentsDays</div>
                            <div class="col justify-content-center align-self-center text-center text-danger">بصمة واحدة : @Model.First().SingleProofDays</div>
                            <div class="col justify-content-center align-self-center text-center text-danger">ايام التقصير :  @Model.First().WasteDays</div>
                            <div class="col justify-content-center align-self-center text-center text-danger">ساعات التقصير :  @(((int)Model.First().TotalWasteHoursTime.TotalHours).ToString("00")):@Model.First().TotalWasteHoursTime.Minutes.ToString("00")</div>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    }
    <tbody class="report-content">
        <tr>
            <td class="report-content-cell">
                <div>

                    <table class="table table-bordered table-striped table-sm">
                        <thead style="background-color:#bbe3e8 ; text-align:center">
                            <tr>
                                @if (Model.Count() >= 2)
                                {
                                    if (!string.IsNullOrWhiteSpace(ViewBag.DepartmentName) && ViewBag.MultiDates)
                                    {
                                        <th>التاريخ</th>
                                    }
                                    <th>الرقم الوظيفي</th>
                                    <th>الاسم</th>
                                    if (string.IsNullOrWhiteSpace(ViewBag.DepartmentName) || !ViewBag.MultiDates)
                                    {
                                        <th>الادارة - القسم</th>
                                    }
                                }
                                else
                                {
                                    <th>التاريخ</th>
                                }

                                <th>الدخول</th>
                                <th>الخروج</th>
                                @if (Model.Count() < 2)
                                {
                                    <th>التقصير</th>
                                    <th>الغياب</th>
                                }
                                <th>الاجازة</th>

                                <th>ملاحظات</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var empDaysReports in Model.SelectMany(s => s.DayReportsList).Where(d => d.AttendanceProof != AttendanceProof.Exempted).OrderBy(d => d.DayDate).ThenBy(d => d.EmployeeId))
                            {
                                <tr style="text-align:center">
                                    @if (Model.Count() >= 2)
                                    {
                                        if (!string.IsNullOrWhiteSpace(ViewBag.DepartmentName) && ViewBag.MultiDates)
                                        {
                                            <td class="@(empDaysReports.IsAbsentEmployee?"text-danger":"")">
                                                @empDaysReports.DayDate.ConvertToString(false, true, true)
                                            </td>
                                        }
                                        <td>
                                            @empDaysReports.EmployeeId
                                        </td>
                                        <td>
                                            @empDaysReports.EmployeeName
                                        </td>
                                        if (string.IsNullOrWhiteSpace(ViewBag.DepartmentName) || !ViewBag.MultiDates)
                                        {
                                            <td>
                                                @empDaysReports.DepartmentName
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="@(empDaysReports.IsAbsentEmployee?"text-danger":"")">
                                            @empDaysReports.DayDate.ConvertToString(false, true, true)
                                        </td>
                                    }

                                    <td class=@(empDaysReports.IsLate?"text-danger":"text-primary")>
                                        @(empDaysReports.CheckInDateTimeForReport.HasValue ? empDaysReports.CheckInDateTimeForReport.Value.ToString("HH:mm") : "")
                                    </td>
                                    <td class=@(empDaysReports.IsEarly?"text-danger":"text-primary")>
                                        @(empDaysReports.CheckOutDateTime.HasValue ? empDaysReports.CheckOutDateTime.Value.ToString("HH:mm") : "")
                                    </td>

                                    @if (Model.Count() < 2)
                                    {
                                        <td class=@(empDaysReports.WasteDuration.HasValue && empDaysReports.WasteDuration.Value > 0?"text-danger":"text-primary")>
                                            @empDaysReports.WasteDurationTime
                                        </td>
                                        <td class=@(empDaysReports.IsAbsentEmployee && (empDaysReports.IsDelegationRequest || empDaysReports.IsVacationRequest) ? "text-secondary" : "text-danger")>
                                            @(empDaysReports.IsAbsentEmployee ? "غياب" : "")
                                        </td>
                                    }
                                    <td class="text-success">@empDaysReports.VacationName</td>

                                    <td>
                                        @(empDaysReports.IsDelegationRequest ? "طلب انتداب" :
                                                                          empDaysReports.IsVacationRequest ? "طلب اجازة" :
                                                                          empDaysReports.IsAbsentEmployee ? "غياب" : "")
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<script>
    $(function () {

        $("#print").on("click", function () {
            window.print();
        });

    }
    );
</script>