@using Sameer.Shared.Data;
@model IEnumerable<EmployeeDayReportViewModel>

@{
    ViewData["Title"] = "تقرير الموظف";
}

<table class="report-container" style="width:100%">
    <thead class="report-header">
        <tr>
            <th class="report-header-cell">
                <div class="header-info">
                    <div id="header-info" class="row justify-content-center align-self-center text-center">
                        <div class="col justify-content-center align-self-center text-center d-none d-print-block">
                            <h5>قسم عمليات الموارد البشرية</h5>
                            <h6>تقرير الموظف</h6>
                        </div>
                        <div class="col">
                            <div class="d-none d-print-block"><img style="max-width:190px; max-height:130px" src="~/Images/SGSLOGO.png" /></div>
                        </div>
                        <div class="col justify-content-center align-self-center text-center d-none d-print-block">
                            <img style="max-width:70px; max-height:90px" src="~/Images/scan-fingerprint-icon.png" />
                            <h5 class="text-info" style="display:inline">نظام البصمة</h5>
                        </div>
                    </div>
                    <div id="employee-info" class="row">
                        <div class="col d-none d-print-block" style="text-align:right">
                            <span>اسم الموظف : </span><span class="text-info">1143 - اسامه محمد نجار</span>
                        </div>
                        <div class="col d-none d-print-block" style="text-align:left">
                            <span>الادارة - القسم : </span><span class="text-info">وحدة هندسة وتطوير البرامج</span> 
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tfoot class="report-footer">
        <tr>
            <td class="report-footer-cell">
                <div class="footer-info">
                    <div class="row" style="border: 2px solid gray; margin-left:0.50px;margin-right:0.50px; height:40px">
                        <div class="col justify-content-center align-self-center text-center text-danger">ايام الاجازة : 6</div>
                        <div class="col justify-content-center align-self-center text-center text-danger">ايام الغياب : 4</div>
                        <div class="col justify-content-center align-self-center text-center text-danger">ايام التقصير : 0</div>
                        <div class="col justify-content-center align-self-center text-center text-danger">ساعات التقصير : 05:23:00</div>
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody class="report-content">
        <tr>
            <td class="report-content-cell">
                <div>
                 
                    <table class="table table-bordered table-striped">
                        <thead style="background-color:#bbe3e8 ; text-align:center">
                            <tr>
                                <th>التاريخ</th>
                                <th>الدخول</th>
                                <th>الخروج</th>
                                <th>التقصير</th>
                                <th>الغياب</th>
                                <th>الاجازة</th>
                                <th>ملاحظات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var empDaysReports in Model)
                            {
                                <tr style="text-align:center">
                                    <td>
                                        <div class="row @(empDaysReports.IsAbsentEmployee?"text-danger":"")">
                                            <div class="col-3" style="text-align:left;">@empDaysReports.DayDate.GetDayName(true)</div>
                                            <div class="col-9" style="text-align:right;">@empDaysReports.DayDate.ToString("yyyy-MM-dd")</div>
                                        </div>
                                        
                                    </td>
                                    <td class=@(empDaysReports.IsLate?"text-danger":"text-primary")>
                                        @(empDaysReports.CheckInDateTime.HasValue? empDaysReports.CheckInDateTime.Value.ToShortTimeString() : "")
                                    </td>
                                    <td class=@(empDaysReports.IsEarly?"text-danger":"text-primary")>
                                        @(empDaysReports.CheckOutDateTime.HasValue? empDaysReports.CheckOutDateTime.Value.ToShortTimeString() : "")
                                    </td>
                                    <td class=@(empDaysReports.IsLate || empDaysReports.IsEarly || empDaysReports.IsAbsentEmployee?"text-danger":"text-primary")>
                                        @empDaysReports.CheckInLateDurationTime
                                    </td>
                                    <td class=@(empDaysReports.IsAbsentEmployee && (empDaysReports.IsDelegationRequest || empDaysReports.IsVacationRequest) ? "text-secondary" : "text-danger")>
                                        @(empDaysReports.IsAbsentEmployee? "غائب" : "")
                                    </td>
                                    <td class="text-success">@empDaysReports.VacationName</td>
                                    <td>@(empDaysReports.IsDelegationRequest ? "طلب انتداب" : empDaysReports.IsVacationRequest ? "طلب اجازة" : "")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<script>
    $(function () {

        $("#print").on("click", function () {
            window.print();
        });

        }
    );
</script>