@model IEnumerable<EmployeeMonthReportViewModel>

@{
    ViewData["Title"] = "تقرير التقصير";
}

<table class="report-container" style="width:100%">
    <thead class="report-header">
        <tr>
            <th class="report-header-cell">
                <div class="header-info">
                    <div id="header-info" class="row justify-content-center align-self-center text-center">
                        <div class="col justify-content-center align-self-center text-center d-none d-print-block">
                            <h5>قسم عمليات الموارد البشرية</h5>
                            <h6>التقرير الشهري للتقصير</h6>
                        </div>
                        <div class="col">
                            <div class="d-none d-print-block"><img width="190px" height="130px" src="~/Images/SGSLOGO.png" /></div>
                        </div>
                        <div class="col justify-content-center align-self-center text-center d-none d-print-block">
                            <img style="max-width:70px; max-height:90px" src="~/Images/scan-fingerprint-icon.png" />
                            <h5 class="text-info" style="display:inline">نظام البصمة</h5>
                        </div>
                    </div>
                    <br />
                </div>
            </th>
        </tr>
    </thead>
    <tfoot class="report-footer">
        <tr>
            <td class="report-footer-cell">
                <div class="footer-info">

                </div>
            </td>
        </tr>
    </tfoot>
    <tbody class="report-content">
        <tr>
            <td class="report-content-cell">
                <div>
                    <div class="d-print-none" style="margin-bottom:5px;">
                        <a class="btn btn-outline-secondary d-print-none" href="javascript:window.print()">
                            <i class="fas fa-print"></i> طباعة
                        </a>
                        <br />
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead style="background-color:#bbe3e8">
                            <tr>
                                <th>الرقم الوظيفي</th>
                                <th>اسم الموظف</th>
                                <th>الادارة - القسم</th>
                                <th>من تاريخ</th>
                                <th>الى تاريخ</th>
                                <th class="d-print-none">ايام الغياب</th>
                                <th>ايام التقصير</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var empMonthReport in Model)
                            {
                                <tr>
                                    <td>@empMonthReport.EmployeeId</td>
                                    <td>@empMonthReport.EmployeeName</td>
                                    <td>@empMonthReport.DepartmentName</td>
                                    <td>@empMonthReport.StartDate.ToShortDateString()</td>
                                    <td>@empMonthReport.ToDate.ToShortDateString()</td>
                                    <td class="d-print-none">@empMonthReport.TotalAbsentsDays</td>
                                    <td>@empMonthReport.TotalWasteDays</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>