@{
    ViewData["Title"] = "تقرير التقصير";

    DateTime firstMonthDay = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
    DateTime lastMonthDay = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(1).AddDays(-1);

    var years = new List<int>();
    int currentYear = 2018;
    for (int i = 0; i < 20; i++)
    {
        years.Add(currentYear++);
    }
    
}

<div class="d-print-none">
    <form>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="years" class="control-label"> السنة :</label>
                <br />
                @(Html.Kendo().DropDownList()
                                       .Name("years")
                                       .BindTo(years.ToArray())
                                       .Value(DateTime.Today.Year.ToString())
                                       .HtmlAttributes(new { style = "width: 100px" , data_toggle = "tooltip" , data_placement = "bottom" , title = "السنة" })
                )
            </div>
            <div class="form-group col-md-1">
                <label for="months" class="control-label"> الشهر :</label>
                <br />
                @(Html.Kendo().DropDownList()
                                       .Name("months")
                                       .BindTo(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 })
                                       .Value(DateTime.Today.Month.ToString())
                                       .HtmlAttributes(new { style = "width: 100px", data_toggle = "tooltip", data_placement = "bottom", title = "الشهر" })
                )
            </div>
            <div class="form-group col-md-3">
                <label for="employees" class="control-label"> الموظفين :</label>
                <br />
                @(Html.Kendo().MultiSelect()
                                                                .Name("employees")
                                                                .Placeholder("تحديد الموظفين ...")
                                                                .HtmlAttributes(new { style = "100%" })
                                                                .DataTextField("EmployeeId")
                                                                .DataValueField("EmployeeId")
                                                                .AutoClose(true)
                                                                .AutoBind(false)
                                                                .MinLength(3)
                                                                .ItemTemplate("<span style=\"color:red\">#= EmployeeId #</span>&nbsp;-&nbsp; #= Name #")
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("ShortEmployeesInfoByTextJson", "Employees");
                                                            })
                                                            .ServerFiltering(true);
                                                        })
                )
            </div>
            <div class="form-group col-md-3">
                <label for="departments" class="control-label"> الادارات - الاقسام</label>
                <br />
                @(Html.Kendo().DropDownTree()
                                    .Name("departments")
                                    .AutoWidth(true)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    .Height("500px")
                                    .Placeholder("اختر الادارة - القسم ")
                                    .DataTextField("name")
                                    .AutoClose(false)
                                    //.Filter(FilterType.Contains)
                                    .Checkboxes(checkboxes => checkboxes
                                        .Name("checkedDepartments")
                                        .CheckChildren(false)
                                    )
                                    .DataSource(dataSource => dataSource
                                    .Read(read => read
                                        .Action("GetAllDepartmentsJson", "Departments")
                                    ))
                )
            </div>
            <div class="form-group col-md-2" style="min-width:130px" data-toggle="tooltip" data-placement="bottom" title="نوع تقرير التقصير للموظفين">
                <label for="reportType" class="control-label">نوع التقرير</label>
                <select id="reportType" name="reportType" class="custom-select">
                    <option value="summary" selected title="تقرير مختصر بأيام التقصير للموظفين">مختصر</option>
                    <option value="wasteDetails" title="تقرير تفصيلي بأيام التقصير للموظفين">تفصيلي التقصير</option>
                    <option value="fullDetails" title="تقرير تفصيلي شامل للموظفين">تفصيلي شامل</option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label for="showWastes" class="control-label">&nbsp;</label>
                <br />
                <button type="submit" id="showWastes" class="btn btn-info btn-block"> عرض <i class="fas fa-search"></i> </button>
            </div>
        </div>

    </form>
    <hr />
</div>


<div id="wastesData">
    <p id="report" class="lead" style="text-align:center;margin-top:150px;font-style:italic;color:gray"> .... تقرير التقصير .... </p>
</div>

@section scripts{
    <partial name="_ValidationScripts">
        <script>

            $(function () {

                $('[data-toggle="tooltip"]').tooltip()

                $('form').submit(function (e) {

                    if ($(this).valid()) {

                        var departmentsTree = $("#departments").data("kendoDropDownTree");
                        var departmentsNodes = departmentsTree.dataSource.view();
                        var checkedDepartmentsNodes = [];

                        checkedNodesIds(departmentsNodes, checkedDepartmentsNodes);

                    var options = {
                    url: "@Url.Action("WasteReport", "EmployeesDaysReports")",
                    type: "Post",
                    dataType: "html",
                        data: {
                              years: $("#years").val()
                            , months: $("#months").val()
                            , employeesIds: $("#employees").data("kendoMultiSelect").value()
                            , departments: checkedDepartmentsNodes
                            , reportType: $("#reportType").val()
                        },
                    success: function updateBalances(data) {
                        $("#wastesData").html(data);
                        $("#wastesData").fadeIn();
                    },
                 error: function () {
                     $("#wastesData").text("error");
                     $("#wastesData").fadeIn();
                        },
                 beforeSend: function () {
                     $("#wastesData").html("<div class='text-center'><div class='spinner-grow text-info' role='status'><span class='sr-only'> Loading...</span ></div></div>");
                        }
                };

                $.ajax(options);

                }

                e.preventDefault();
            });

            //toastr.clear();

        })

        </script>

}
