@model EmployeeInfoViewModel

@{
    ViewData["Title"] = "تفاصيل الموظف";
}

<div class="row">
    <div class="col">
        <div class="clearfix">
            <h4 class="text-info float-right"><i class="far fa-address-card fa-flip-horizontal fa-lg"></i> تفاصيل الموظف</h4>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3 justify-content-center align-self-center text-center">
                <img class="img-thumbnail" style="max-width:220px;max-height:230px" src="~/Images/EmployeePhotoEmpty.jpg" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <small class="text-info">الرقم الوظيفي</small><br />
                        <span>@Model.EmployeeId</span>
                    </div>
                    <div class="col-md-6">
                        <small class="text-info">الاسم </small><br />
                        <span>@Model.Name</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <small class="text-info">الادارة - القسم</small><br />
                        <span>@Model.DepartmentId - @Model.DepartmentName</span>
                    </div>
                    <div class="col-md-6">
                        <small class="text-info">نوع البصمة</small><br />
                        <span>@Model.AttendanceProofText</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <small class="text-info">ملاحظات</small><br />
                        <span>@Model.Note</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row" style="margin-top:40px">
    <div class="col-sm-12">
        <div class="clearfix">
            <h4 class="text-info float-right"><i class="far fa-calendar-alt"></i> التقويم</h4>
            <button class="btn btn-sm btn-outline-info float-left" style="width:150px" data-toggle="modal" data-target="#addEmployeeCalendar"><i class="fa fa-plus"></i>  إضافة تقويم جديد </button>
        </div>
        <hr />
        @(Html.Kendo().Grid<EmployeeCalendarViewModel>()
                        .Name("grdCalendars")
                        .Columns(clmn =>
                        {
                            clmn.Bound(c => c.StartDate).Format("{0:yyyy/MM/dd}").Title("بداية التقويم");
                            clmn.Bound(c => c.EndDate).Format("{0:yyyy/MM/dd}").Title("نهاية التقويم");
                            clmn.Bound(c => c.ContractWorkTimeText).Title("نوع الوردية");
                            clmn.Bound(c => c.AttendanceProofText).Title("نوع البصمة");
                            clmn.Bound(c => c.Note).Title("ملاحظات");
                            clmn.Bound(c => c.Id).Title("حذف").ClientTemplate("<a href='\\#deleteModal' data-toggle='modal' data-calendarId='#= Id #' class='text-danger' title='حذف'><i class='fas fa-trash-alt'></i></a>");
                        })
                        .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                        .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("GetAllEmployeeCalendarsJsonForKendo", "EmployeesCalendars").Data("readExcusesData")))
        )
    </div>
</div>

<div class="row" style="margin-top:80px">
    <div class="col">
        <div class="clearfix">
            <h4 class="text-info float-right"><i class="far fa-clock"></i> الاستئذان</h4>
            <button class="btn btn-sm btn-outline-info float-left" style="width:150px" data-toggle="modal" data-target="#addExcuseModal"><i class="fa fa-plus"></i>  إضافة استئذان جديد </button>
        </div>
        <hr />
        @(Html.Kendo().Grid<EmployeeExcuseViewModel>()
                                        .Name("grdExcuses")
                                        .Columns(clmn =>
                                        {
                                            clmn.Bound(c => c.ExcueseDate).Format("{0:yyyy/MM/dd}").Title("تاريخ الإستئذان");
                                            clmn.Bound(c => c.ExcueseDateHijri).Title("تاريخ الإستئذان هجري");
                                            clmn.Bound(c => c.ExcuseTypeText).Title("نوع الإستئذان"); ;
                                            clmn.Bound(c => c.ExcuseHoursTime).Title("مدة الإستئذان");
                                            clmn.Bound(c => c.Note).Title("ملاحظات الإستئذان");
                                            clmn.Bound(c => c.Id).Title("حذف").ClientTemplate("<a href='\\#deleteModal' data-toggle='modal' data-excuseId='#= Id #' class='text-danger' title='حذف'><i class='fas fa-trash-alt'></i></a>");
                                        })
                                        .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Read(read => read.Action("GetAllEmployeeExcusesJsonForKendo", "EmployeesExcuses").Data("readExcusesData"))
                                        )
        )
    </div>
</div>

<!-- Modal -->
<div id="addEmployeeCalendar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCalendarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="calendarForm">
                <div class="modal-header">
                    <h5 class="modal-title text-info" id="addCalendarLabel"> إضافة تقويم جديد للموظف</h5>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="calendarId" name="xc" />

                    <!-- نوع التقويم -->
                    <div class="form-group">
                        <label for="durationType" class="control-label"> نوع التقويم </label>
                        <div class="col">
                            <div class="form-check form-check-inline" title="تقويم مفتوح">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="openCalendar" name="durationType" value="open">
                                <label for="openCalendar" class="form-check-label"> مفتوح </label>
                            </div>
                            <div class="form-check form-check-inline" title="تقويم محدود">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="limitedCalendar" name="durationType" value="limited">
                                <label for="limitedCalendar" class="form-check-label"> محدود </label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- تاريخ البداية -->
                    <div class="form-group">
                        <label for="calendarStartDate" class="control-label">بداية التقويم</label>
                        <br />
                        <kendo-datepicker class="form-control" min="new DateTime(2018,12,1)" name="calendarStartDate" id="calendarStartDate" value="DateTime.Today" format="yyyy-MM-dd" title="تاريخ بداية التقويم" />
                    </div>
                    <div data-limitedCalendar class="form-group">
                        <label for="calendarEndDate" class="control-label">نهاية التقويم</label>
                        <br />
                        <kendo-datepicker class="form-control" min="new DateTime(2018,12,1)" name="calendarEndDate" id="calendarEndDate" value="DateTime.Today" format="yyyy-MM-dd" title="تاريخ نهاية التقويم" />
                    </div>

                    <!-- الوردية -->
                    <div class="form-group">
                        <label for="ContractWorkTime" class="control-label">نوع الوردية</label>
                        <div class="col" style="margin-top:5px">
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="@ContractWorkTime.Default.GetText()">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="Default" name="ContractWorkTime" value="Default">
                                <label for="Default" class="form-check-label"> الصباح  </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="@ContractWorkTime.ShiftA.GetText()">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftA" name="ContractWorkTime" value="ShiftA">
                                <label for="ShiftA" class="form-check-label"> أ-A  </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="@ContractWorkTime.ShiftB.GetText()">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftB" name="ContractWorkTime" value="ShiftB">
                                <label for="ShiftB" class="form-check-label"> ب-B  </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="@ContractWorkTime.ShiftC.GetText()">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftC" name="ContractWorkTime" value="ShiftC">
                                <label for="ShiftC" class="form-check-label"> ج-C  </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="@ContractWorkTime.ShiftD.GetText()">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftD" name="ContractWorkTime" value="ShiftD">
                                <label for="ShiftD" class="form-check-label"> د-D </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="@ContractWorkTime.ShiftH.GetText()">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="ShiftH" name="ContractWorkTime" value="ShiftH">
                                <label for="ShiftH" class="form-check-label"> هـ-H </label>
                            </div>
                            <small id="emailHelp" class="form-text text-muted text-center">حسب جدول الورديات في شهر ديسمبر 2018</small>
                        </div>
                    </div>

                    <!-- نوع البصمة -->
                    <div class="form-group">
                        <label for="AttendanceProof" class="control-label">نوع البصمة</label>
                        <div class="col" style="margin-top:5px">
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="بصمتين للحضور و الانصراف">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="RequiredInOut" name="AttendanceProof" value="RequiredInOut">
                                <label for="RequiredInOut" class="form-check-label"> حضور وانصراف </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="بصمة واحدة فقط خلال وقت الدوام لإثبات الحضور">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="RequiredIn" name="AttendanceProof" value="RequiredIn">
                                <label for="RequiredIn" class="form-check-label"> حضور فقط </label>
                            </div>
                            <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top" title="معفي من البصمة">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="Exempted" name="AttendanceProof" value="Exempted">
                                <label for="Exempted" class="form-check-label control-label"> معفي </label>
                            </div>
                        </div>
                    </div>

                    <!-- ملاحظات -->
                    <div class="form-group">
                        <label for="note" class="control-label">ملاحظات</label>
                        <textarea class="form-control" rows="3" id="note" name="note"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">حفظ</button>
                    <button onclick="toastr.warning('تم الغاء الأمر')" type="reset" class="btn btn-secondary" style="margin-right:10px;" data-dismiss="modal">إلغاء الأمر</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="addExcuseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addExcuseLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="excuseForm">

                <div class="modal-header">
                    <h5 class="modal-title text-info" id="addExcuseLabel"> تسجيل استئذان جديد للموظف</h5>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="excuseDate" class="control-label">تاريخ الاستئذان</label>
                        <br />
                        <kendo-datepicker min="new DateTime(2018,12,1)" name="excuseDate" id="excuseDate" value="DateTime.Today" format="yyyy-MM-dd" title="تاريخ الاستئذان" />
                    </div>
                    <div class="form-group">
                        <label for="ExcuseType" class="control-label">نوع الاستئذان</label>
                        <div class="col" style="margin-top:5px">
                            <div class="form-check form-check-inline">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="checkIn" name="ExcuseType" value="CheckIn">
                                <label for="checkIn" class="form-check-label"> استئذان دخول </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input style="margin-left:5px" class="form-check-input" type="radio" id="checkOut" name="ExcuseType" value="CheckOut">
                                <label for="checkOut" class="form-check-label"> استئذان خروج </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ExcuseType" class="control-label">مدة الإستئذان</label>
                        <br />
                        <kendo-timepicker name="ExcuseHours"
                                          id="ExcuseHours"
                                          min='DateTime.Parse("0:00")'
                                          max='DateTime.Parse("5:00")'
                                          interval="60"
                                          culture="en-US"
                                          format="HH:mm" value='DateTime.Parse("0:00")' />
                    </div>
                    <div class="form-group">
                        <label for="excuseNote" class="control-label">ملاحظات</label>
                        <textarea class="form-control" rows="3" id="excuseNote" name="excuseNote"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">حفظ</button>
                    <button onclick="toastr.warning('تم الغاء الأمر')" type="reset" class="btn btn-secondary" style="margin-right:10px;" data-dismiss="modal">إلغاء الأمر</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteLabel"> هل آنت متأكد من الحذف ؟</h5>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button onclick="deleteConfiremd()" class="btn btn-primary" data-dismiss="modal">نعم</button>
                <button onclick="toastr.warning('تم الغاء الأمر')" class="btn btn-secondary" style="margin-right:10px;" data-dismiss="modal">إلغاء الأمر</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <partial name="_ValidationScripts" />

    <script>

        function readExcusesData() {
            return {
                employeeId: @Model.EmployeeId,
            }
        }

        var deleteMode;

        function deleteConfiremd() {

            $("#deleteModal").modal("hide");

            if (!deleteMode) {
                return;
            }

            if (deleteMode == 'excuse') {
                deleteExcuse();
            } else if(deleteMode === 'calendar'){
                deleteCalendar();
            }

        }

        var selectedExcuse;

        function deleteExcuse() {


                if (!selectedExcuse) {
                    return;
                }

                var options = {
                        url: "@Url.Action("DeleteEmployeeExcuse", "EmployeesExcuses")",
                        type: "Post",
                        data: {
                            excuseId: selectedExcuse
                        },
                        dataType: "json",
                        success: function (data) {

                            if (data.errors) {
                                alert("error hapend");
                                return;
                            }

                            var dataGrid = $("#grdExcuses").data("kendoGrid");
                            dataGrid.dataSource.read();
                            toastr.success("تم حذف استئذان الموظف بنجاح");
                        },
                        error: function () {
                            console.log("error");
                            toastr.error("خطأ اثناء حذف استئذان الموظف");
                        }
                    };

                    $.ajax(options);

        }

        //Calendars Work -------------
        function updateNewCalendarInfo() {

            if ($("input[name='durationType']:checked").val() == 'open') {
                    $("[data-limitedCalendar]").fadeOut();
                }
                else {
                    $("[data-limitedCalendar]").fadeIn();
            }

        }

        var selectedCalendar;

        function deleteCalendar() {

            if (!selectedCalendar) {
                return;
            }

            var options = {
                        url: "@Url.Action("DeleteEmployeeCalendar", "EmployeesCalendars")",
                        type: "Post",
                        data: {
                            calendarId: selectedCalendar
                        },
                        dataType: "json",
                        success: function (data) {

                            if (data.errors) {
                                alert("error hapend");
                                return;
                            }

                            var dataGrid = $("#grdCalendars").data("kendoGrid");
                            dataGrid.dataSource.read();
                            toastr.success("تم حذف تقويم الموظف بنجاح");
                        },
                        error: function () {
                            console.log("error");
                            toastr.error("خطأ اثناء حذف تقويم الموظف");
                        }
                    };

                    $.ajax(options);
        }

        $(function () {

            $('#excuseForm').submit(function (e) {
                if ($(this).valid()) {

                    $("#addExcuseModal").modal("hide");

                    var options = {
                        url: "@Url.Action("AddEmployeeExcuse", "EmployeesExcuses")",
                        type: "Post",
                        data: {
                            employeeId: @Model.EmployeeId,
                            excuseDate: $("#excuseDate").val(),
                            note: $("#excuseNote").val(),
                            excuseType: $("input[name='ExcuseType']:checked").val(),
                            excuseHours:$("#ExcuseHours").val()
                        },
                        dataType: "json",
                        success: function (data) {

                            if (data.errors) {
                                toastr.error("الاستئذان مسجل مسبقا للموظف !");
                                return;
                            }

                            var dataGrid = $("#grdExcuses").data("kendoGrid");
                            dataGrid.dataSource.read();
                            toastr.success("تم حفظ استئذان الموظف بنجاح");
                        },
                        error: function () {
                            toastr.error("خطأ اثناء حفظ استئذان الموظف");
                        }
                    };

                    $.ajax(options);

                }

                e.preventDefault();
            });

            $('#addExcuseModal').on('show.bs.modal', function (event) {
                $('#checkIn').prop('checked', true);
            })

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                selectedExcuse = button.data('excuseid') // Extract info from data-* attributes
                selectedCalendar = button.data('calendarid') // Extract info from data-* attributes
                if (selectedExcuse) {
                    $('#deleteLabel').text('هل انت متأكد من حذف الاستئذان ؟');
                    deleteMode = 'excuse';
                } else if (selectedCalendar) {
                    $('#deleteLabel').text('هل انت متأكد من حذف التقويم ؟');
                    deleteMode = 'calendar';
                }

            })


            //Calendars Work ----------------

            $("#openCalendar").prop("checked", true);
            $("#Default").prop("checked", true);
            $("#RequiredInOut").prop("checked", true);

            updateNewCalendarInfo();

            $('input[type=radio][name=durationType]').change(function () {
                updateNewCalendarInfo();
            });


            $('#addEmployeeCalendar').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var calendarId = button.data('calendarid') // Extract info from data-* attributes

                if (!calendarId) {
                    calendarId = 0;
                }
                else {

                    var options = {
                        url: "@Url.Action("GetDataByIdJson", "EmployeesCalendars")",
                        type: "Get",
                        data: {
                            calendarId: calendarId
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.errors) {
                                toastr.error(data.errors[0]);
                                event.preventDefault();
                                return;
                            }

                            if (data.EndDate) {
                                $('#limitedCalendar').prop('checked', true);
                            } else {
                                $('#openCalendar').prop('checked', true);
                            }

                            $("#calendarStartDate").data("kendoDatePicker").value(data.StartDate);
                            $("#calendarEndDate").data("kendoDatePicker").value(data.EndDate);

                            switch (data.ContractWorkTime) {
                                case 0:
                                    $('#Default').prop('checked', true);
                                    break;
                                case 1:
                                    $('#ShiftA').prop('checked', true);
                                    break;
                                case 2:
                                    $('#ShiftB').prop('checked', true);
                                    break;
                                case 3:
                                    $('#ShiftC').prop('checked', true);
                                    break;
                                case 4:
                                    $('#ShiftD').prop('checked', true);
                                    break;
                                default:
                                    $('#ShiftH').prop('checked', true);
                            }

                            switch (data.AttendanceProof) {
                                case 0:
                                    $('#RequiredInOut').prop('checked', true);
                                    break;
                                case 1:
                                    $('#RequiredIn').prop('checked', true);
                                    break;
                                default:
                                    $('#Exempted').prop('checked', true);
                            }
                           
                            $("#note").val(data.Note);
                            updateNewCalendarInfo();
                        },
                        error: function () {
                            toastr.error("خطأ اثناء قراءة معلومات التقويم");
                            event.preventDefault();
                        }
                    };

                    $.ajax(options);

                }

                $("#calendarId").val(calendarId);

            });

            $('#calendarForm').submit(function (e) {
                if ($(this).valid()) {

                    $("#addEmployeeCalendar").modal("hide");

                    var options = {
                        url: "@Url.Action("AddOrUpdateEmployeeCalendar", "EmployeesCalendars")",
                        type: "Post",
                        data: {
                            employeeId: @Model.EmployeeId,
                            calendarId: $("calendarId").val(),
                            isOpenCalendar: $("input[name='durationType']:checked").val() == "open",
                            startDate: $("#calendarStartDate").val(),
                            endDate: $("#calendarEndDate").val(),
                            workTime: $("input[name='ContractWorkTime']:checked").val(),
                            attendanceProof: $("input[name='AttendanceProof']:checked").val(),
                            note: $("#note").val()
                        },
                        dataType: "json",
                        success: function (data) {

                            if (data.errors) {
                                if (data.errors === 'enddate') {
                                    toastr.error("تاريخ النهاية يجب ان يكون بعد تاريخ البداية !");
                                } else {
                                    toastr.error("التقويم متعارض مع تقويم آخر !");
                                }
                               
                                return;
                            }

                            var dataGrid = $("#grdCalendars").data("kendoGrid");
                            dataGrid.dataSource.read();
                            toastr.success("تم حفظ تقويم الموظف بنجاح");
                        },
                        error: function () {
                            toastr.error("خطأ اثناء حفظ تقويم الموظف");
                        }
                    };

                    $.ajax(options);

                }

                e.preventDefault();
            });

        });

    </script>

}

